<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdicionarContaServlet</servlet-name>
        <servlet-class>bancoweb.AdicionarContaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarContasServlet</servlet-name>
        <servlet-class>bancoweb.ListarContasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarTitularContaServlet</servlet-name>
        <servlet-class>bancoweb.ListarTitularContaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarTitularServelet</servlet-name>
        <servlet-class>bancoweb.ListarTitularServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionarTitularContaServlet</servlet-name>
        <servlet-class>bancoweb.AdicionarTitularContaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionarTitularServlet</servlet-name>
        <servlet-class>bancoweb.AdicionarTitularServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdicionarContaServlet</servlet-name>
        <url-pattern>/adicionarConta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarContasServlet</servlet-name>
        <url-pattern>/ListarContas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarTitularContaServlet</servlet-name>
        <url-pattern>/ListarTitularConta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarTitularServelet</servlet-name>
        <url-pattern>/ListarTitular</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionarTitularContaServlet</servlet-name>
        <url-pattern>/adicionarTitularConta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionarTitularServlet</servlet-name>
        <url-pattern>/adicionarTitular</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
